
body
{
    background-color: #fafbfb;
}

.right-align
{
    text-align: right;
    border: 10px;
    height: 30px;
}


.btn
{
    padding-top: 16px;
    color: black;
    background-color: #F0B09E;
    border-radius: 100px;
   
    
}
.btn:hover
{
    padding-top: 16px;
/*    background-color: #B3B85C;*/
    background-color: #CC9687;
    text-decoration: none;
    outline-color: black;
    outline-width: 1px;
    outline-style: solid;
}

.white
{
    text-decoration: none;
    color: black;
}

.slider2{
    background-image: url(../images/Carousel/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.slider3{
    background-image: url(../images/Carousel/If-your-head-was-here-CROP-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.slider1{
    background-image: url(../images/Carousel/If-I-was-your-other-ear-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.toppadding
{
    margin-top: 45px;
   margin-right: 0px;
    margin-left: 0px;
    padding-top: 30px;
    
    

}
a:hover
{
    text-decoration: none;
}
.botpadding
{
    margin-top: 45px;
   margin-right: 0px;
    margin-left: 0px;
    padding-top: 30px;
    
    

}

    .bot-mob-padding
{
    padding-bottom: 60px;
}


.name
{
    
    font-size: 20px;
  
    
}
.pic
{
   padding-bottom: 160px; 
}
.navblock
{
    height:60px;
}
h1
{
    font-size: 34px;
    color: #222427;
    
    font-family: 'Karla', sans-serif;
}

h2
{
    font-size: 26px;
    color: #222427;
    line-height: 1.4;
    
    font-family: 'Karla', sans-serif;
}

ul
{
    list-style: none;
    font-weight: 300;
}

li
{
    color: #222427;
    font-size: 18px;
    padding-left: 0px;
    margin-left: 0px;
    
}



/*
a:hover
{
    text-decoration: underline;
     
    
    font-family: 'Karla', sans-serif;
    color: #222427;
    text-decoration: underline;
    background-color: #ddd;
}
*/
h5 a:hover
{
    color: #C27C65;
    
    
    font-family: 'Karla', sans-serif;
    color: #222427;
    text-decoration: underline;
    
}

h5
{
   color: #222427;
    font-size: 18px;
    
    font-family: 'Karla', sans-serif;
    line-height: 1.4;
}
p
{
    font-size: 14px;
    
    font-family: 'Karla', sans-serif;
}
p a:hover
{
    font-size: 14px;
    
    font-family: 'Karla', sans-serif;
    color: #222427;
    text-decoration: underline;
    
}
a
{
    color: #222427;
    
}
a:active
{
    color: #222427;
   
}


#navbar {
 z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.4s;
    
    font-family: 'Karla', sans-serif;
    padding-top: 16px;
    padding-left:30px;
    padding-right:30px;
}

.navlist-mob
{
    line-height: 33px;
    text-align: right;
    top: 0px;
       
}


#navbar a:hover {
  text-decoration: underline;
   
  color: #222427;
}

.footer {
  
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
    
    font-family: 'Karla', sans-serif;
    background-color: #ddd;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 0px;
}
.footer a:hover
{
   background-color: #fafbfb;
  color: #222427; 
}


.interactioncomp
    {
        display: none;
    }

.pieces
{
    display: none;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  bottom: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    line-height: 0.2;
    right:0;
    margin-right: 20px;
    z-index: 1000;
    
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
    
    font-family: 'Karla', sans-serif;
    line-height: 0.2;
    
    
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  
    text-decoration: none;
    
}

.insta {
  
  color: white;
    
    font-family: 'Karla', sans-serif;
    line-height: 0.2;
    
}
.sold
{
    color: red;
}
@media screen and (min-width: 600px) {
    h1
{
    font-size: 45px;
    color: #222427;
    
    font-family: 'Karla', sans-serif;
}
    .interactionsep
    {
        display: none;
    }
    .interactioncomp
    {
        display: block;
    }
    .pieces
{
    display: block;
    
}
    
.navlist-mob
{
    line-height: 27px;
    text-align: left;
}
    
}
